{{ define "nav.css" }}
.navButt {
    box-shadow: 5px 5px 0px #5e8f97;
    padding: 0.3em 1em;
    margin: 1em 0;
    border-radius: 0.28em;
    width: fit-content;
    cursor: pointer;
    font-weight: 400;
    /* color: #ffe4a8; */
    /* color: #ffeda8; */
    color: cornsilk;
    font-size: 0.9em;
    animation: 500ms linear scalin;
}
.loginButt {
    background-color: #8d561f;
    color: cornsilk;
    border: "1px solid #6b3000";
}
.homeButt {
    /* background-color: #913200; */
    background-color: #b8bb0c;
    font-weight: 600;
    border: 1px solid #7f8f0f;
    text-shadow: 1px 1px 1px #7f8901;
    color: #fbffa5;
}
.newPost {
    background-color: #8f9100;
    background-color: #9cd4d5;
    border: 1px solid #538d99;
    text-shadow: 1px 1px 2px #1b8891;
    color: cornsilk;
}
.nav-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.popular {
    background-color: #bd8c17;
    border: 1px solid #875d11;
    text-shadow: 1px 1px 1px #74470d;
}
.newest {
    background-color: #33907e;
}
.leftNav {
    display: flex;
}
.leftNav > .navButt {
    margin: 1em 0.5em 1em 0;
}
{{end}}
