.post-media {
  width: 100%;
  border-radius: 0.4em;
  cursor: pointer;
  border: 1px solid #ffc884;
}
.post-media-outer {
  padding: 0.5em;
  padding-bottom: 0em;
}
.postBottom {
  padding: 0.5em;
}
.postBottomReply {
  padding-right: 0;
}
.postBody {
  width: 100%;
  font-size: 1.1em;
  border: 1px solid #d8d8d8;
  padding: 0.7em;
  border-radius: 0.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}
.reply-form {
  margin: 1em 0;
  padding-right: 1em;
}
.reply-form-child {
  padding-right: 0.5em;
}
.show-reply {
  margin-right: 1em;
}
.submitButt {
  background-color: #8d561f;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 0 0.7em 0;
  margin: 1em 0;
  border-radius: 0.3em;
  color: #ffe4a8;
}
