{{define "shared_css"}}
* {
  padding: 0;
  margin: 0;
}
body, html {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  margin: 0 1em;
  background-color: cornsilk;
      background-color: #ffe9d7;
    background-color: #fffded;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bda23c;
  opacity: 1; /* Firefox */
}
.reply-form {
  display: none;
}
@media screen and (orientation:portrait) {}
@media screen and (orientation:landscape) {
  body {
    margin: 1em 33%;
  }
}
@keyframes scalin {
  0% { transform: scale(0); }
}
{{end}}
