<div class="template-wrapper rules-outer" id="rules-outer">
<!--
  rules is used to display the rules and some other information about 
  tagmachine to the client.
-->
<div class="rulesDivOuter">
        <h3>TagMachine Philosophy</h3>

        <p class="rulesPar">
  TagMachine is designed to be a hybrid, impersistent, social media platform 
  for people seeking discussion of a broad set of topics, including 
  up-to-the-minute breaking news and world events. 
        </p>

        <p class="rulesPar">
  We believe social media can be used as a modern form of decentralized 
  journalism, and aim to create a platform to quickly relay and funnel 
  real-time world events into an easily digested stream of information.
  TagMachines goal is to replace "mass-media" with something better, more 
  resilient, and more decentralized. 
        </p>

        <p class="rulesPar">
  New generations are increasingly consuming news via social media, but most 
  social media (facebook, tiktok, etc) are failing us as gatekeepers. 
  TagMachine views itself as a type of modern journalism platform for all 
  topics. As gatekeeper to this platform we believe it's important to enforce a 
  high standard for discussion.
        </p>
  
        <p class="rulesPar">
  TagMachine has a similar philosophy to Ycombinators Hacker News, but we'd 
  like to cater to a wider variety of topics and people. We want to foster 
  serious discussion and activism, and eventually expand the platform to 
  increase it's relevancy as a replacement for mass-media and traditional news 
  sources. This includes encourging use of our platform in places around the
  world, including Asia, Africa, and South America. 
        </p>
  
        <p class="rulesPar">
  Post moderation is not strict. Pretty much anything goes as long as it's on
  topic and doesn't violate the rules (see below). TagMachine has ABSOLUTELY NO
  political affiliation and does not endorse ANY political party or stance, 
  however we strongly encourge healthy debates and arguments on our platform, 
  and we believe our platform is designed to foster this type of discussion. 
        </p>

        <p class="rulesPar">
  Users who participate in debates in an un-civil manner will risk having their 
  accounts suspended or permanently deleted. A good argument will provide facts
  and sources, and should not resort to ad-hominem.
        </p>

        <p class="rulesPar">
  If TagMachine's algorthms work properly, it should create healthy and active
  discussions.
        </p>

        <h3>RULES</h3>

        <ul class="rulesList">
           <li>No spam/advertising</li>
           <li>No bots or organized information suppression</li>
           <li>No sexualization of minors</li>
           <li>No racism/sexism</li>
           <li>No links to illegal content</li>
           <li>No posting personal information of anyone without consent</li>
           <li>No harassment of other users</li>
        </ul>
        <p class="rulesPar">
        </p>

        <h3>#TAGS, TOPICS, SUBREDDITS</h3>

        <p class="rulesPar">
  Much like twitter, users have a @handle and can #tag their posts with 
  different topics. In TagMachine, these topics have a popularity score 
  and their popularity is based on their frequency of use. Unlike twitter, 
  TagMachine has a set of default tags that we believe cover almost all topics,
  and these tags are persistent. 
        </p>

        <p class="rulesPar">
  Users are required to pick at least one of these tags, and provide at least 
  one non-default tag when creating a new thread. The user-generated tags, 
  along with the default tags, are displayed on the "frontpage" of TagMachine,
  and will eventually be used in a word cloud to visualize trends and breaking 
  news happening around the world. Once tuned correctly, this feature of 
  TagMachine will be able to report on breaking news at a faster rate than 
  traditional news platforms. 
        </p>

        <p class="rulesPar">
  Only tags with a score above a certain threshold are displayed in the tag 
  cloud. 
        </p>

        <p class="rulesPar">
  Tags are used to filter topics and are somewhat analogous to reddits 
  subreddits. 
        </p>

        <h3>SCORES, LIKES, UPVOTES</h3>

        <p class="rulesPar">
  Everything has a score.
        </p>

        <p class="rulesPar">
  Tags have a score, users have a score, and posts have a score. 
        </p>

        <p class="rulesPar">
  A score is analagous to reddit karma. 
        </p>

        <p class="rulesPar">
  Unlike most social media sites, a posts score is only increased when another 
  user replies to it. The score also "bubbles up" the comment tree, meaning 
  that when a user replies to a comment, that comment and the person who posted 
  it receive a score increase, and so do all parent comments all the way up to 
  the original post and the tags posted with it. 
        </p>

        <p class="rulesPar">
  There is no way to "downvote" or "dislike" a thread. If you don't like a 
  topic, either don't reply, or reply with a well thought out argument against 
  the topic. If users in the thread disagree with you, all of their replies 
  will increase your comments score (and your user score). This could have a 
  chain-reaction, pushing your comment to the top and gaining it even more 
  replies. Users who engage in dialogue are rewarded by TagMachines algorithm.
  On reddit you would likely be downvoted into oblivion. On most other 
  platforms only the most agreeable comments will be seen. TagMachine is 
  designed so that the most active conversations rise to the top, even when 
  people disagree.
        </p>

        <h3>IMPERSISTENCE</h3>

        <p class="rulesPar">
  Like many anonymous image boards, TagMachine is not persistent. This means 
  that threads are deleted automatically from the database. Most threads should
  not last more than 72 hours. Points accumulated by users and tags are kept. 
  User-generated tags have their scores decreased over time if users don't 
  continue submitting the tag. 

  Unlike most anonymous image boards, we currently require an account to post, 
  and we enforce more strict moderation guidelines. 
        </p>

        <h3>NO EMBEDDED MEDIA</h3>

        <p class="rulesPar">
  As of version 1.0 there is no embedded media allowed. This is for a few 
  reasons:

        <ul class="rulesList">
        <li>Website performance and costs. Allowing embedded media would
                        cost exponentially more.</li>

        <li>We aren't trying to be another tiktok, in fact, we are trying to make a
          conscious effort to be something different.</li>
        </ul>

        <p class="rulesPar">
        </p>

        <p class="rulesPar">
  Links are likely to be filtered soon too. Instead, we'll have a whitelist of
  whats considered a good source (eg scholarly publications)
        </p>

        <h3>SOFTWARE</h3>

       <p class="rulesPar">
  TagMachine is not a clone of some other social media platform, but rather a
  distilled "hybrid" platform, taking some features and concepts from all of 
  the most popular social media platforms, and combining them into a new 
  concept, that we believe is more efficient, and allows for greater insight 
  and transparency into the community.
        </p>

        <p class="rulesPar">
  TagMachine follows KISS and DRY principals of software development. It is 
  mostly written from scratch using the Go programming language, and uses 
  component architecture via Go HTML templating. The code for TagMachine will 
  eventually be released to the public, but for now it's only partially 
  available upon request. 
        </p>
 
</div>
{{ end }}
<style>{{ template "rules.css" . }}</style>
<script>{{ template "rules.js" . }}</script>
</div>
