{{ define "submitForm.tmpl" }}
<div class="section-outer submitForm-outer section-submitForm" id="section-submitForm">
  <form class="mainForm" id="fileUploadForm" enctype="multipart/form-data">
    <textarea class="body" id="bodyText" placeholder="post something . . ." name="myText"></textarea>
    <input class="tags" />
    <div class="formButtons">
      <label for="file-upload" class="uploadButt navButt">
        Upload Image or Video . . .
        <input type="file" id="file-upload" name="myFile">
      </label>
      <input onclick="submitPost()" value="Post" class="postSubmitButt navButt"/>
    </div>
    <input type="hidden" class="hiddenParent" name="parent" value="root"/>
  </form>
  <div id="errorField"></div>
</div>
<style>{{ template "submitForm.css" }}</style>
<script>{{ template "submitForm.js"}}</script>
{{end}}
